@charset "utf8";
html {
  background-color: #26232A;
  color: #4D5C69;
  width: 12em;
}
button {
  width: 100%;
}
button.each_tweet {
  height: 4ex;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
button.each_tweet:hover {
  background-color: #55EE55;
}
/* vim:expandtab ff=dos fenc=utf-8 sw=2 */
