@charset "utf8";
html {
  background-color: #26232A;
  color: #4D5C69;
}
body {
  width: 14em;
}
#menu_root {
  display: grid;
  width: 14em;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}
#tweet_list {
  width: 14em;
  overflow: hidden;
}
button {
  width: 100%;
}
button.menu:hover {
  background-color: #1Da1F2;
}
button.each_tweet {
  height: 4ex;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
button.each_tweet:hover {
  background-color: #55EE55;
}
/* vim:expandtab ff=dos fenc=utf-8 sw=2 */
